<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Biuro podróży</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
</head>
<body>
    <header class="welcome">
        <div class="baner">
            <h1>tu i tam</h1>
        </div>
    </header>
    <section class="feature clearfix">
        <div id="slider" class="slides">
            <div class="slide">
                <figure>
                    <img class="hidden" src="Images/australia.jpg" alt="Pierwszy slide">
                </figure>
                <div class="slide-description">
                    <h3 class="slide-header">Nie wczytuj wszystkich zdjęć na raz!</h3>
                    <p>Dzięki właściwości "load" slieder nie wczytuje wszystkich zdjęć podczas ładowania strony, co skutkuje brakiem blokowania innych zasobów i szybszym ukończeniem procesu renderowania strony.</p>
                </div>
            </div>
            <div class="slide">
                <figure>
                    <img class="hidden" src="Images/barcelona.jpg" alt="Drugi slide">
                </figure>
                <div class="slide-description">
                    <h3 class="slide-header">Animacje CSS3</h3>
                    <p>Dzięki zastosowaniu animacji CSS3 nawet początkujący programista stron internetowych, może bez trudu pisać własne animacje dla pojedynczych slidów.</p>
                </div>
            </div>
            <div class="slide">
                <figure>
                    <img class="hidden" src="Images/oceania.jpg" alt="Trzeci slide">
                </figure>
                <div class="slide-description">
                    <h3 class="slide-header">Zatrzymaj po najechaniu</h3>
                    <p>Dzięki opcji "pause" po najechaniu kursorem slide zatrzyma się, co pozwoli podziwiać zdjęcia bądź przeczytać tekst w nim zawarty.</p>
                </div>
            </div>
            <div class="slide">
                <figure>
                    <img class="hidden" src="Images/paryz.jpg" alt="Czwarty slide">
                </figure>
                <div class="slide-description">
                    <h3 class="slide-header">Wywołaj slider w dowolnym momencie</h3>
                    <p>Konstrukcja slidera umożliwia uruchomienie rotacji zdjęć w dowolnym momencie, po wykonaniu akcji czy po wczytaniu się strony.</p>
                </div>
            </div>
            <div class="slide">
                <figure>
                    <img class="hidden" src="Images/LA.jpg" alt="Piąty slide">
                </figure>
                <div class="slide-description">
                    <h3 class="slide-header">Mam już bibliotekę jQuery, nie chcę Comp!</h3>
                    <p>Jeżeli posiadasz już zainstalowaną bibliotekę jQuery, nie musisz pobierać i instalować biblioteki Comp. Slider został dostosowany do popularnej biblioteki jQuery.</p>
                </div>
            </div>
            <div class="slide">
                <figure>
                    <img class="hidden" src="Images/Azja.jpg" alt="Szósty slide">
                </figure>
                <div class="slide-description">
                    <h3 class="slide-header">Slider RWD</h3>
                    <p>Slider został dostosowany do urządzeń mobilnych.</p>
                </div>
            </div>
            <div class="slide">
                <figure>
                    <img class="hidden" src="Images/rio.jpg" alt = "Siódmy slide">
                </figure>
                <div class="slide-description">
                    <h3 class="slide-header">Slider RWD</h3>
                    <p>Slider został dostosowany do urządzeń mobilnych.</p>
                </div>
            </div>

            <nav role="pagination" class="dots">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </nav>
            <nav role="pagination" class="arrows">
                <button class="arrow-prev">❮</button>
            </nav>
            <nav role="pagination" class="arrows">
                <button class="arrow-next">❯</button>
            </nav>
        </div>
    </section>

    <section class="toolbar">
        <div class="menu">
            <p>oferta</p>
            <p>o nas</p>
            <p>kontakt</p>
        </div>
    </section>

    <section class="filtr">
        <div calss="list">
            <p><label><input type="checkbox" name="checkbox_1" value="gory" />Azja</label></p>
            <p><label><input type="checkbox" name="checkbox_2" value="morze" />Ameryka Północna</label></p>
            <p><label><input type="checkbox" name="checkbox_3" value="jezioro" />Ameryka Południowa</label></p>
            <p><label><input type="checkbox" name="checkbox_4" value="las" />Afryka</label></p>
            <p><label><input type="checkbox" name="checkbox_5" value="wies" />Australia i Oceania</label></p>
            <p><label><input type="checkbox" name="checkbox_6" value="miasto" />Europa</label></p>
        </div>
    </section>

    <section class="main">
        <div class="trips">

        </div>
        <div class ="price">

        </div>
    </section>

    <section class="contact">
        <div class="phone">
            <p>675 458 395</p>
        </div>
        <div class="adress">
            <p>ul.Spychowiaka 6 Poznań</p>
        </div>
        <div class="formToWrite">

        </div>
    </section>
    <script src="js/script.js"></script>
    <script src="js/comp.js"></script>
    <script src="js/Slider.js"></script>

</body>
</html>