<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biuro podróży</title>
    <link rel stylesheet href="resources/static/style.css">
</head>
<body>
    <header class="welcome">
        <div class="baner">
            <h1>tu i tam</h1>
        </div>
    </header>
    <section class="feature clearfix">
        <div class="feature">
            <img src="Images/australia.jpg">
            <img src="Images/Azja.jpg">
            <img src="Images/barcelona.jpg">
            <img src="Images/LA.jpg">
            <img src="Images/oceania.jpg">
            <img src="Images/paryz.jpg">
            <img src="Images/rio.jpg">
        </div>
    </section>

    <section class="toolbar">
        <div class="menu">
            <p>oferta</p>
            <p>o nas</p>
            <p>kontakt</p>
        </div>
    </section>

    <section class="filtr">
        <div calss="list">
            <input type="checkbox" id="zazn">
            <label for="zazn">Azja</label>
            <input type="checkbox">
            <label for="zazn">Ameryka Północna</label>
            <input type="checkbox">
            <label for="zazn">Ameryka Południowa</label>
            <input type="checkbox">
            <label for="zazn">Afryka</label>
            <input type="checkbox">
            <label for="zazn">Australia i Oceania</label>
            <input type="checkbox">
            <label for="zazn">Europa</label>
        </div>
    </section>

    <section class="main">
        <div class="trips">

        </div>
        <div class ="price">

        </div>
    </section>

    <section class="contact">
        <div class="phone">
            <p>675 458 395</p>
        </div>
        <div class="adress">
            <p>ul.Spychowiaka 6 Poznań</p>
        </div>
        <div class="formToWrite">

        </div>
    </section>


</body>
</html>