<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Logowanie do Biura Podróży</title>-->
<!--    <link rel="stylesheet" type="text/css" href="templates/static/log.css">-->
<!--</head>-->
<!--<body>-->
<!--<div id="panel">-->
<!--    <form>-->
<!--        <label for="username">Nazwa użytkownika:</label>-->
<!--        <input type="text" id="username" name="username">-->
<!--        <label for="password">Hasło:</label>-->
<!--        <p><a href="#">Zapomniałeś hasła?</a></p>-->
<!--        <input type="password" id="password" name="password">-->
<!--        <div id="lower">-->
<!--            <input type="checkbox"><label class="check">Zapamiętaj mnie!</label>-->
<!--            <input type="submit" value="Login" >-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--<script>-->
<!--    let user = document.querySelector(<label for="username"></label>);-->
<!--    let password = document.querySelector(<label for="password"></label>);-->
<!--    document.addEventListener('onclick', submit);-->

<!--    function submit(e) {-->
<!--        if ((user === "root") && (password === "Smoczek1")) {-->
<!--            location.href = "http://localhost:63342/Biuro_Podrozy/templates/index.html?_ijt=locoeksfp01de2ve235imkvolt";-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->