*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.welcome{
    width: 100%;
    background-color: cadetblue ;
    height: 8vh;
}
.baner{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Comic Sans MS"  ;
}
slider{
    width: 100%;
    height: 40vh;
    clear: both;
}
img {
    float: left;
    position: absolute;
    border:solid black 15px;
    max-width: 100%;
    max-height:60%;
    position: absolute;
    transform: translate(15%, -40%);
    top: 50%;
    left: 50%;
    opacity: 0.6;
}
.toolbar{
    width: 100%;
    height: 10vh;
    background-color: indianred;
    font-family: Cambria;
}
.toolbar .menu{
    text-align: center;
}
.menu p{
    float:left;
    width: 20%;
    margin-top: 1.5vw;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.menu p:nth-child(1){
    margin-left: 20%;
}
.filtr{
    width: 10%;
    height: 90vh;
    float: left;
    background-color: darkcyan;
}
.main{
    width: 90%;
    height: 90vh;
    float: left;
    background-color: brown;
}
.contact{
    width: 100%;
    height: 30vh;
    float: left;
    background-color: aquamarine;
}
.adress{
    text-align: center;
}
.phone{
    text-align: center;
}

